@media screen and (max-width: 992px) {
    *{
        padding: 0%;
        margin: 0%;
    }
    /* ---------------about------- */
    .timeline-list{
        display: block;
    }
    ul.timeline-list:before {
        position: absolute;
        width: 2px;
        height: 100%;
        left: 0;
        top: 0;
    }
    .timeline-image{
        position: absolute;
        left: -50px;
        top: 0;
    }
    .liste{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .timeline_content{ 
        width: 100%;
        text-align: left;
        padding-left: 5rem;
    }
    .timeline-title, .timeline-texte{ 
        text-align: left;
    }
    .vide{
        display: none;
    }
    .picture1{
        border: 6px solid #d9d7d7;
        width: 100%;
    }
   .timeline-para  .timeline-text span{
      font-size: 12px;
    }
    .timeline-text{
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .titre{
        font-size: 25px;
    }
    .titre1{
        font-size: 40px; 
    }
  
}
@media screen and (max-width: 650px){
    *{
        padding: 0%;
        margin: 0%;
    }
    .navbar-brand{
        width: 50%;
    }
    h4{
        font-size: 16px;
    }
    /* ---------------about------- */
    .titre{
        font-size: 20px;
    }
    .titre1{
        font-size: 25px; 
    }
    .timeline-list{
        display: block;
    }
    ul.timeline-list:before {
        position: absolute;
        width: 2px;
        height: 100%;
        left: 0;
        top: 0;
    }
    .timeline-image{
        position: absolute;
        left: -28px;
        top: 0;
    }
    .liste{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .timeline_content{ 
        width: 100%;
        text-align: left;
        padding-left: 3rem;
    }
    .timeline-title, .timeline-texte{ 
        text-align: left;
    }
    .vide{
        display: none;
    }
    .picture1{
        border: 6px solid #d9d7d7;
        width: 100%;
    }
   .timeline-para  .timeline-text span{
      font-size: 8px;
    }
    .timeline-text{
        width: 57px;
        height: 57px;
        margin-left: -28px;
    }
    .timeline-title h4,.timeline_content span{
        font-size: 15px;
    }
    .timeline_content p {
        font-size: 12px;
    }
}
